<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	 <link rel="stylesheet" href="{$basePath}/css/materialize.min.css"  media="screen,projection"/>
	 <link rel="stylesheet" href="{$basePath}/css/my.css"  media="screen,projection"/>
	<title>{ifset title}{include title|stripHtml} | {/ifset}Demo</title>
</head>

<body>
	<div class="container">
	
		{include content}

		{block scripts}
		<script src="{$basePath}/js/materialize.min.js"></script>
		<script src="{$basePath}/js/Naja.min.js"></script>
		<script src="{$basePath}/js/index.js"></script>
		
		<script src="{$basePath}/js/netteForms.min.js"></script>
		
		{/block}
	</div>
</body>
</html>
