parameters:
	ignoreErrors:
		- '#^Access to an undefined property Nette\\Application\\UI\\Template\|stdClass\:\:\$[a-zA-Z0-9]+\.$#'
		- '#^Property Nette\\Forms\\Form\:\:\$onSuccess \(array<callable\(Nette\\Forms\\Form\, array\|object\)\: void>\) does not accept non-empty-array<array[\s\S]+\|\(callable\(Nette\\Forms\\Form, array\|object\)\: void\)>\.$#'
		- '#^Cannot access property \$onSuccess on Nette\\ComponentModel\\IComponent\|null\.$#'
		- '#^Cannot call method [\w\(\)]+ on Nette[\s\S]+\.$#'
	level: 9
	paths:
		- app
		- tests
